{{define "base"}}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}} · shop</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  {{template "nav" .}}
  <main class="container">
    {{block "content" .}}{{end}}
  </main>
  {{template "footer" .}}
</body>
</html>
{{end}}
