{{ define "footer" }}
    <footer class="bg-light text-center mt-auto py-4 border-top small text-muted">
        <div class="container">
            <p class="mb-1">&copy; 2025 Encanta Oy</p>
            <p class="mb-0">Valimopolku 20, 49420 Hamina, Suomi</p>
        </div>
    </footer>
{{ end }}
