{{define "footer"}}
    <!--footer.gohtml -->
    <footer class="border-top mt-5">
        <div class="container py-4 small text-muted">
            <div class="row g-3">
                <div class="col-md-8 text-md-end">
                    @ MyApp
                </div>
            </div>
        </div>
    </footer>
{{end}}
