{{define "content"}}
    <h1 class="mb-3 test-style">О нас</h1>
    <p class="lead">Короткое описание компании...</p>
    <div class="test-box">Тест-блок</div>
    <div class="test-shadow">Проверка шрифта и тени текста!</div>
{{end}}
