{{ define "content" }}
    <h1>Форма</h1>
    <form method="POST" action="/form">
        <label>Имя:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Сообщение:</label><br>
        <textarea name="message" rows="4" cols="40" required></textarea><br><br>

        <button type="submit">Отправить</button>
    </form>
{{ end }}
