{{define "content"}}
    <!-- home.gohtml -->
    <div class="p-4 p-md-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Главная</h1>
            <p class="col-md-8 fs-5">Стартовый шаблон на Go + chi + Bootstrap.</p>
        </div>
    </div>
{{end}}
